<div class="ring-1 ring-gray-200 shadow overflow-hidden rounded-lg my-4">

  <div class="bg-slate-50 px-2 py-3 sm:px-4">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Projektlön
    </h3>
  </div>

  <% project.checklists.each do |checklist| %>
    <%= render 'projects/admin/fixed_checklist_table', checklist: checklist %> 
  <% end %>

  <div class="border-t border-gray-200 bg-gray-100 px-4 py-5 sm:p-0 ">
    <dl class="text-sm sm:divide-y sm:divide-gray-200">
      <div class="p-5">
        <div class="overflow-x-auto shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="table-auto min-w-full divide-y divide-gray-300 text-sm">
            <caption class="whitespace-nowrap px-4 py-3.5 text-center font-semibold text-gray-50 bg-slate-800">
              Sammanfattning
            </caption>
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="whitespace-nowrap px-4 py-3.5 text-left font-semibold text-gray-900">Person</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Tid</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Andel</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Lön</th>
              </tr>
            </thead>
            <tbody class=" align-top bg-white">
                <% project.worker_reports.map(&:reportee).uniq.each do |reportee| %>
                <% calc = Calculator::Project::Reportee.new(project: project, reportee: reportee) %>
                <tr class="border-t border-gray-100"> 
                  <td class="whitespace-nowrap px-4 py-2.5 text-gray-600">
                    <%= reportee.user.display_name  %>
                    <span class="text-xs text-gray-400"><%= reportee.title %></span>
                  </td>
                  <td class="whitespace-nowrap px-2 py-2.5 text-gray-600">
                    <%= format_hours calc.reportee_hours %> tim
                  </td>
                  <td class="whitespace-nowrap text-sm px-2 py-2.5 text-gray-600">
                    <%#= number_to_percentage calc.bonus_percent * 100 %>
                  </td>
                  <td class="whitespace-nowrap text-sm px-2 py-2.5 text-gray-600">
                    <%= number_to_currency calc.payable_bonus_amount.round(0) %>
                  </td>
                </tr>
                <% end %>
            </tbody>
            <tfoot class="bg-gray-50">
              <tr class="font-medium text-md text-gray-900"> 
                  <td class="whitespace-nowrap px-4 py-3.5">Summa</td>
                  <td class="whitespace-nowrap px-2 py-3.5"> <%= format_hours(Calculator::Fixed.for(project, nil).worker_hours)%> tim </td>
                  <td class="whitespace-nowrap px-2 py-3.5"></td>
                  <td class="whitespace-nowrap px-2 py-3.5"> <%= number_to_currency(Calculator::Project::Base.new(project).payable_bonus_amount) %> </td>
                </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </dl>
  </div>
</div>
