<!DOCTYPE html>
<html class="h-full bg-red-700">
  <head>
    <title>Byggro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="mt-6 text-center text-3xl font-bold text-white">Logga in</h2>
      </div>


      <div class="mt-8 mx-5 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">

          <% flash.each do |type, msg| %>
            <div class="rounded-md bg-yellow-50 p-3">
              <div class="flex">
                <%= heroicon('information-circle', options: { class: 'h-5 w-5 text-yellow-400'}) %>
                <div class="ml-3">
                  <p class="text-sm text-yellow-800"><%= msg %></p>
                </div>
              </div>
            </div>
          <% end %>

          <%= form_with url: signin_path, class: 'space-y-6' do |f| %>
            <%= f.text_field :email, id: 'email', placeholder: 'E-post', class: 'appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
            <%= f.password_field :password, id: 'password', placeholder: 'Lösenord', class: 'appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
            <%= f.submit 'Logga in', class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>

    <% if Rails.env.development? %>
      <%= javascript_include_tag "hotwire-livereload", defer: true %>
    <% end %>
  </body>
</html>