<h3 class="text-xl leading-6 font-medium text-gray-900">
  <%= t("project.bonus." + project.bonus) %>
</h3>

  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">

    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('clock', variant: :outline) %> Timmål
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= project.hours_target %> tim 
      </dd>
    </div>

    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('user-group', variant: :outline) %> Teamets timmar
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= project.hours_reported %> tim 
      </dd>
    </div>

    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('user', variant: :outline) %> Dina timmar
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= @calculator.hours_for(Current.user.employee) %> tim 
      </dd>
    </div>

    <div class="px-4 py-5 bg-slate-800 shadow rounded-lg overflow-hidden text-sm text-white  sm:p-6">
      <dt class="truncate">
        <%= heroicon('banknotes', variant: :outline) %> Din lön för detta projekt
      </dt>
      <dd class="mt-1 text-3xl">
        <%= number_to_currency @calculator.salary_for(Current.user.employee) %>
      </dd>
    </div>

    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="truncate">
        <%= heroicon('chart-pie', variant: :outline) %> Projektbonus
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= number_to_percentage @calculator.bonus_percent(Current.user.employee) * 100 %>
      </dd>
    </div>

    <div class="px-4 py-5 bg-slate-800 shadow rounded-lg overflow-hidden text-sm text-white  sm:p-6">
      <dt class="truncate">
        <%= heroicon('banknotes', variant: :outline) %> Din bonus
      </dt>
      <dd class="mt-1 text-3xl">
        <%= number_to_currency @calculator.bonus_for(Current.user.employee) %> 
      </dd>
    </div>

  </dl>

  <hr class="my-5" />

  <div class="overflow-x-auto shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
    <table class="table-auto min-w-full divide-y divide-gray-300 text-sm bg-white">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="whitespace-nowrap px-4 py-3 text-left font-semibold text-gray-900">Datum </th>
          <th scope="col" class="whitespace-nowrap px-4 py-3 text-right font-normal text-gray-900">Lön <span class="font-bold"><%= number_to_currency(@calculator.salary_for(Current.user.employee)) %></th>
          <th scope="col" class="whitespace-nowrap px-2 py-3 text-right font-normal text-gray-900">Bonuslön <span class="font-bold"><%= number_to_currency(@calculator.bonus_for(Current.user.employee)) %></span></th>
        </tr>
      </thead>
      <tbody class=" align-top">
          <% @reports.where(reportee: Current.user.employee).each do |report| %>
          <tr class="border-t border-gray-100"> 
            <td class="whitespace-nowrap px-4 py-2 text-gray-600">
              <%= l report.date  %>
            </td>
            <td class="whitespace-nowrap text-right px-2 py-2 text-gray-600">
              <%= format_hours(report.time_in_hours) %> tim 
              x <%= number_to_currency(report.fee) %>
              = <%= number_to_currency(report.total) %>
            </td>
            <td class="whitespace-nowrap text-right px-2 py-2 text-gray-600">
              <%= number_to_currency(@calculator.bonus_salary(report.fee)) %> 
              x <%= format_hours(report.time_in_hours) %> tim = 
              <%= number_to_currency @calculator.bonus_for_report(report).round(2) %>
            </td>
          </tr>
            <% if report.note.present? %>
              <tr>
                <td colspan="5" class="px-4 pb-3 text-sm">
                  <span class="text-gray-500"><%= report.note %></span>
                </td>
              </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
  </div>