<%= form_with(model: user, class: "contents" ) do |form| %>
<div class="bg-white rounded-md py-1 px-4 my-4 border-2 border-slate-200">
  <div class="my-4 grid grid-cols-6 gap-6">
    <div class="col-span-3 sm:col-span-2">
      <%= form.label :first_name, 'Förnamn', class: 'label' %>
      <%= form.text_field :first_name, class: "input" %>
    </div>

    <div class="col-span-3 sm:col-span-2">
      <%= form.label :last_name, 'Efternamn', class: 'label' %>
      <%= form.text_field :last_name, class: "input" %>
    </div>

    <div class="col-span-3 sm:col-span-2">
      <%= form.label :email, 'Epost', class: 'label' %>
      <%= form.email_field :email, class: "input" %>
    </div>
  </div>
</div>

<%= form.fields_for(:employee, user.employee) do | employee_fields | %>
<div class="bg-white rounded-md py-1 px-4 my-4 border-2 border-slate-200">
  <div class="my-4 grid grid-cols-6 gap-6">
    <div class="col-span-3 sm:col-span-3">
      <%= employee_fields.label :title, 'Titel', class: 'label' %>
      <%= employee_fields.text_field :title, class: "input" %>
    </div>

    <div class="col-span-3 sm:col-span-3">
      <%= employee_fields.label :salary, 'Lön (kr)', class: 'label' %>
      <%= employee_fields.number_field :salary, class: "input" %>
    </div>
  </div>
</div>
<% end if user.is_employee? and policy(:user).create? %>

<div class="bg-white rounded-md py-1 px-4 my-4 border-2 border-slate-200">
  <div class="my-4 grid grid-cols-6 gap-6">
    <div class="col-span-6 sm:col-span-3">
      <%= form.label :password, 'Nytt lösenord', class: 'label' %>
      <%= form.password_field :password, class: "input" %>
    </div>

    <div class="col-span-6 sm:col-span-3">
      <%= form.label :password_confirmation, 'Bekräfta nytt lösenord', class: 'label' %>
      <%= form.password_field :password_confirmation, class: "input" %>
    </div>
  </div>
</div>

<div class="bg-white rounded-md py-1 px-4 my-4 border-2 border-slate-200">
  <%= form.submit 'Spara', class: "my-2 inline-flex items-center px-4 py-2 border border-transparent sm text-sm leading-4 font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
</div>
<% end %>