<div class="bg-white overflow-hidden shadow rounded-md divide-y divide-gray-200 p-5">
  <%= link_to 'Ny kund', new_client_path, class: "btn btn-primary my-2" if policy(:client).new? %>
  <div class="overflow-x-auto shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
    <table class="table-auto min-w-full divide-y divide-gray-300 text-sm">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="whitespace-nowrap px-4 py-3.5 text-left font-semibold text-gray-900">ID</th>
          <th scope="col" class="whitespace-nowrap px-4 py-3.5 text-left font-semibold text-gray-900">Namn</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Företag</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Adress</th>
        </th>
      </thead>
      <tbody class=" align-top">
        <% @clients.each do |client| %>
          <tr class="border-t border-gray-100">
            <td class="whitespace-nowrap px-4 py-2 text-gray-600">
              <%= link_to uid(client), edit_client_path(client) %>
            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-600">
              <%= client.display_name %><br/>
              <span class="text-xs"> <%= client.email %> </span>
            </td>
            <td class="whitespace-nowrap px-2 py-2 text-gray-600">
            <%= client.company_name %>
            </td>
            <td class="whitespace-nowrap px-2 py-2 text-gray-600">
              <%= client.street_adress  %><br/>
              <span class="text-xs"> <%= "#{client.zipcode} #{client.city}" %> </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>