<div id="<%= dom_id page %>" class=" mx-5">

  <div class="flex items-center text-gray-500 hover:text-gray-700 text-sm">
    <%= heroicon('chevron-left') %> <%= link_to "Dokument", pages_path %>
  </div>


  <div class="mt-2">
    <h1 class="text-3xl font-bold"><%= page.title %></h1>
    <p class="text-sm text-gray-700 mt-1 capitalize"> 
      Uppdaterad <time><%= l page.updated_at, format: :short %></time>
    </p>
  </div>
    
  <%= page.content %>

  <hr class="my-5"/>

  <% if action_name == "show" %>
    <%= link_to 'Uppdatera', edit_page_path(@page), class: "text-indigo-800" %>

    <div class="inline-block ml-2">
      <%= button_to 'Ta bort', page_path(@page), method: :delete, class: "text-red-800" %>
    </div>
  <% end if policy(page).edit? %>
</div>