<div class="bg-white shadow overflow-hidden rounded-md">
  <div class="overflow-x-auto shadow ring-1 ring-black ring-opacity-5 md:rounded-lg p-5">

    <h1 class="text-2xl font-bold mb-4"> 
      Arvode/Lön
      <small class="text-sm"> <%= l @from.to_date %> — <%= l @to.to_date %> </small>
    </h1>

    <div class="mb-4 text-sm">
      <%= link_to 'Förra månaden', url_for(last_month), class: 'mr-4' %>
      <%= link_to 'Nästa månad', url_for(next_month) %>
    </div>

    <hr class="my-2 h-0.5 border-t-1 bg-neutral-100 dark:bg-white/10" />

    <% @payroll.by_type(:none).group_by(&:class).each do |klass, payments| %>
    <h2 class="text-1xl font-bold mb-4"> Tidrapporter </h2>
    <table class="mb-4 table-auto min-w-full">
      <thead>
        <tr class="text-sm text-left">
          <th>Person</th>
          <th>Timmar</th>
          <th>Lön</th>
        </tr>
      </thead>

      <tbody>
        <% payments.group_by(&:reportee).each do |reportee, payments| %>
        <tr class="text-sm">
          <td> <%= link_to reportee.display_name, user_path(reportee.user_id) %> </td>
          <td> <%= format_hours payments.sum(&:time_in_hours) %> tim </td>
          <td> <%= number_to_currency payments.sum(&:total) %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>

    <hr class="my-2 h-0.5 border-t-1 bg-neutral-100 dark:bg-white/10" />

    <% @payroll.by_type(:fixed).group_by(&:class).each do |klass, payments| %>
    <h2 class="text-1xl font-bold my-4"> Bonusrapporter </h2>
    <table class="mb-4 table-auto min-w-full">
      <thead>
        <tr class="text-sm text-left">
          <th>Person</th>
          <th>Meta</th>
          <th>Summer</th>
        </tr>
      </thead>

      <tbody>
        <% payments.group_by(&:reportable).each do |reportable, payments| %>
        <tr class="text-sm">
          <td> <%= reportable.project.title %> <small><%= reportable.title %></small></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>

    <hr class="my-2 h-0.5 border-t-1 bg-neutral-100 dark:bg-white/10" />



    <% if (Current.user.is_admin? or Current.user.is_seller?) %>
    <h2 class="text-1xl font-bold my-4"> Säljrapporter </h2>
    <table class="table-auto min-w-full divide-y divide-gray-300 text-sm border-2 border-slate-100 ring-offset-slate-100 ">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="whitespace-nowrap px-4 py-3.5 text-left font-semibold text-gray-900">Bonus</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Projekt</th>
        </tr>
      </thead>
      <tbody class=" align-top">
        <% Project.up_for_bonus.each do |project| %>
        <% if policy(project).seller? %>
        <tr class="border-t-2 border-gray-400 text-md text-gray-900"> 
          <td class="whitespace-nowrap px-4 py-2 text-gray-600 bg-slate-50">
            <%= project.seller.display_name %><br/>
            <span class="font-medium text-md">
              Bonus <%= number_to_currency Project::Cost.new(project).bonuses %>
            </span>
          </td>
          <td class="whitespace-nowrap px-2 py-2 text-gray-600 bg-slate-50">
            <%= link_to project.title, project %>
            <small class="capitalize">
            Sälj<br/>
            Betald <%= l project.payed_on %>
            </small>
          </td>
        <tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <h2 class="text-1xl font-bold mt-4 mb-4"> Underentrepenörer </h2>

  </div>
</div>