<div class="bg-white shadow overflow-hidden rounded-md">
  <div class="overflow-x-auto shadow ring-1 ring-black ring-opacity-5 md:rounded-lg p-5">

    <h1 class="text-2xl font-bold mb-4"> 
      Arvode/Lön
      <small class="text-sm"> <%= l @from.to_date %> — <%= l @to.to_date %> </small>
    </h1>

    <div class="mb-4 text-sm">
      <%= link_to 'Förra månaden', url_for(last_month), class: 'mr-4' %>
      <%= link_to 'Nästa månad', url_for(next_month) %>
    </div>

    <h2 class="text-1xl font-bold mb-4"> Tidrapporter </h2>

    <table class="table-auto min-w-full divide-y divide-gray-300 text-sm border-2 border-slate-100 ring-offset-slate-100 ">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="whitespace-nowrap px-4 py-3.5 text-left font-semibold text-gray-900">Datum</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Person</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Timmar</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Projekt</th>
          <th scope="col" class="relative whitespace-nowrap py-3.5 pl-3 pr-4 sm:pr-6"> <span class="sr-only">Edit</span> </th>
        </tr>
      </thead>
      <tbody class=" align-top">
        <% policy_scope(@salaries.payable_hourly_reports).group_by(&:reportee).each do |reportee, reports| %>
          <tr class="border-t-2 border-gray-400 text-md text-gray-900"> 
            <td class="whitespace-nowrap px-4 py-2 text-gray-600 bg-slate-50">
              <%= reportee.display_name %>
              <small><%= reportee.primary_role %></small> <br/>
              <span class="font-medium">
                <%= t("salary.#{reportee.class.name.downcase}") %>: <%= number_to_currency reports.sum(&:total) %>
              </span>
            </td>
            <td class="whitespace-nowrap px-2 py-2 text-gray-600 bg-slate-50">
            </td>
            <td class="whitespace-nowrap px-2 py-2 text-gray-600 bg-slate-50">
              <%= format_hours reports.sum(&:time_in_hours) %>
            </td>
            <td colspan="2" class="whitespace-nowrap px-2 py-2 text-gray-600 bg-slate-50">
            </td>
          <tr>
        <% end %>
      </tbody>
      <tfoot class="bg-gray-50">
        <tr class="font-medium text-md text-gray-900"> 
            <td class="whitespace-nowrap px-4 py-3.5">Summa</td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
          </tr>
      </tfoot>
    </table>

    <h2 class="text-1xl font-bold my-4"> Bonusrapporter </h2>

    <table class="table-auto min-w-full divide-y divide-gray-300 text-sm border-2 border-slate-100 ring-offset-slate-100 ">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="whitespace-nowrap px-4 py-3.5 text-left font-semibold text-gray-900">Bonus</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Projekt</th>
        </tr>
      </thead>
      <tbody class=" align-top">
        <% @salaries.payable_bonus_projects.each do |project| %>
          <% project.reportees.each do |reportee| %>
            <% if (Current.user.is_admin? or Current.user.profile == reportee) %>
            <% @bonus = Bonus::Calculator.new(project).bonus_for(reportee) %>
            <% unless @bonus.zero? %>

            <tr class="border-t-2 border-gray-400 text-md text-gray-900"> 
              <td class="whitespace-nowrap px-4 py-2 text-gray-600 bg-slate-50">
                <%= reportee.display_name %> <small><%= reportee.primary_role %></small> <br/>
                <span class="font-medium text-md">
                  Bonus <%= number_to_currency @bonus %><br/>
                </span>
              </td>
              <td class="whitespace-nowrap px-2 py-2 text-gray-600 bg-slate-50">
                <%= link_to project.title, project %>
                <small class="capitalize"><%= project.bonus %></small>
              </td>
            <tr>
            <% end %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <h2 class="text-1xl font-bold my-4"> Säljrapporter </h2>

    <table class="table-auto min-w-full divide-y divide-gray-300 text-sm border-2 border-slate-100 ring-offset-slate-100 ">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="whitespace-nowrap px-4 py-3.5 text-left font-semibold text-gray-900">Bonus</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Projekt</th>
        </tr>
      </thead>
      <tbody class=" align-top">
        <% @salaries.sales_bonus_projects.each do |project| %>
        <tr class="border-t-2 border-gray-400 text-md text-gray-900"> 
          <td class="whitespace-nowrap px-4 py-2 text-gray-600 bg-slate-50">
            <%= project.seller.display_name %><br/>
            <span class="font-medium text-md">
              Bonus <%= number_to_currency project.result * Salary::BONUS_SALES %>
            </span>
          </td>
          <td class="whitespace-nowrap px-2 py-2 text-gray-600 bg-slate-50">
            <%= link_to project.title, project %>
            <small class="capitalize">
            Sälj<br/>
            Betald <%= l project.payed_on %>
            </small>
          </td>
        <tr>
        <tr>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>