  <h3 class="text-xl leading-6 font-medium text-gray-900"><%= t("project.bonus." + project.bonus) %></h3>
  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">

    <% if project.bonus_hourly? %>
    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('clock', variant: :outline) %> Timmål
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= project.hours_target %> tim 
      </dd>
    </div>
    <% end %>

    <% if project.bonus_fixed? %>
    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('clock', variant: :outline) %> Projektlön
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= project.bonus_fixed %> kr
      </dd>
    </div>
    <% end %>

    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('clock', variant: :outline) %> Teamets timmar
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= project.hours_reported - project.hours_by_interns %> tim 
        <% unless project.hours_by_interns.zero? %>
        <span class="inline text-sm"> <%= project.hours_by_interns %> p/tim </span>
        <% end %>
      </dd>
    </div>

    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('clock', variant: :outline) %> Dina timmar
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= @calculator.hours_for(Current.user.employee) %> tim 
      </dd>
    </div>

    <% if project.is_bonusable? %>
    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('clock', variant: :outline) %> Projektbonus
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= number_to_percentage @calculator.bonus_percent(Current.user.employee) * 100 %>
        <span class="text-sm ml-2">
          <%= number_to_currency Current.user.employee.salary * project.bonus_percent if project.bonus_hourly? %>
        </span>
      </dd>
    </div>
    <% end %>

    <% if project.bonus_hourly? %>
      <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">
          <%= heroicon('clock', variant: :outline) %> Din fasta lön
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">
          <%= number_to_currency @calculator.salary_for(Current.user.employee) %>
        </dd>
      </div>

      <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">
          <%= heroicon('cash', variant: :outline) %> Din bonuslön
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">
          <%= number_to_currency @calculator.bonus_for(Current.user.employee) %> 
        </dd>
      </div>
    <% end %>

    <div class="px-4 py-5 bg-slate-800 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-white truncate">
        <%= heroicon('clock', variant: :outline) %> Din totallön
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-white">
        <%= number_to_currency @calculator.total_for(Current.user.employee) %>
      </dd>
    </div>

  </dl>