<div>
  <h3 class="text-lg leading-6 font-medium text-gray-900"><%= t("project.bonus." + project.bonus) %></h3>
  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">

    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('clock', variant: :outline) %> Projektmål
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= project.hours_target %> tim 
      </dd>
    </div>

    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('clock', variant: :outline) %> Projekttimmar
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= Report.by_project(project).sum(&:time_in_hours).round(2) %> tim 
      </dd>
    </div>

    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('clock', variant: :outline) %> Projektbonus
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= number_to_percentage project.bonus_percent * 100 %>
      </dd>
    </div>

    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('clock', variant: :outline) %> Dina timmar
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= project.hours_for(Current.user.employee) %> tim 
      </dd>
    </div>

    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('clock', variant: :outline) %> Din timlön
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= number_to_currency Current.user.employee.salary %>
      </dd>
    </div>

    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('clock', variant: :outline) %> Din bonusarvode
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= number_to_currency Current.user.employee.salary * project.bonus_percent %>
      </dd>
    </div>

    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('clock', variant: :outline) %> Din projektlön
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= number_to_currency Bonus::Calculator.for(project).salary_for(Current.user.employee) %>
      </dd>
    </div>

    <div class="px-4 py-5 bg-slate-100 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        <%= heroicon('cash', variant: :outline) %> Din bonuslön
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= number_to_currency Bonus::Calculator.for(project).bonus_for(Current.user.employee) %> 
      </dd>
    </div>

    <div class="px-4 py-5 bg-slate-400 shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-white truncate">
        <%= heroicon('clock', variant: :outline) %> Din totallön
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-white">
        <%= number_to_currency (Bonus::Calculator.for(project).salary_for(Current.user.employee) + Bonus::Calculator.for(project).bonus_for(Current.user.employee)) %>
      </dd>
    </div>

  </dl>
</div>
