<%= form_with(model: project, class: "contents") do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if policy(project).complete? %>
  <div class="my-5">
    <label class="text-base font-medium text-gray-900">Status</label>
    <fieldset class="mt-4">
      <legend class="sr-only">Status</legend>
      <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
        <div class="flex items-center">
        <% Project.statuses.keys.each do |status| %>
          <%= form.radio_button :status, status, class: 'ml-2 focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300' %>
          <%= form.label t("project.status.#{status}"), for: "project_status_#{status}", class: 'ml-2 block text-sm font-medium text-gray-700' %>
        <% end %>
        </div>
      </div>
    </fieldset>
  </div> 
  <% end %>

  <div class="my-5">
    <label class="text-base font-medium text-gray-900">Bonusmetod</label>
    <fieldset class="mt-4">
      <legend class="sr-only">Bonusmetod</legend>
      <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
        <div class="flex items-center">
        <% Project.bonus.keys.each do |bonus| %>
          <%= form.radio_button :bonus, bonus, class: 'ml-2 focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300' %>
          <%= form.label t("project.bonus.#{bonus}"), for: "project_bonus_#{bonus}", class: 'ml-2 block text-sm font-medium text-gray-700' %>
        <% end %>
        </div>
      </div>
    </fieldset>
  </div> 

  <div class="grid grid-cols-3 gap-2">
    <div class="my-2">
      <div class="flex justify-between">
        <%= form.label :client_id, 'Kund', class: 'label' %>
      </div>
      <%= form.collection_select(:client_id, 
        Client.all, :id, :display_name, 
        { prompt: "Välj kund ...", selected: project.client&.id }, 
        class: "input") %>
        <div class="flex justify-between mx-2 my-1">
          <%= link_to "Visa kund", edit_client_path(project.client), class: 'text-sm' if project.client %>
          <%= link_to "+ Ny kund", new_client_path, class: 'text-sm' %>
        </div>
    </div>

    <div class="my-2">
      <%= form.label :title, 'Projektnamn', class: 'label' %>
      <%= form.text_field :title, class: 'input' %>
    </div>

    <div class="my-2">
      <%= form.label :adress, 'Objektadress', class: 'label' %>
      <%= form.text_field :adress, class: 'input' %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :description, 'Information', class: 'label' %>
    <%= form.rich_text_area :description, class: 'input' %>
  </div>

  <div class="grid grid-cols-3 gap-2">
    <div class="my-2">
      <%= form.label :starts_at, 'Startdatum', class: 'label' %>
      <%= form.date_field :starts_at, class: 'input' %>
    </div>

    <div class="my-2">
      <%= form.label :due_at, 'Deadline', class: 'label' %>
      <%= form.date_field :due_at, class: 'input' %>
    </div>

    <% if policy(project).administer? %>
      <div class="my-2">
        <%= form.label :completed_at, 'Avslutat', class: 'label' %>
        <%= form.date_field :completed_at, class: 'input' %>
      </div>
    <% end %>
  </div>

  <div class="grid grid-cols-2 gap-2">
    <div class="my-2">
      <%= form.label :material_amount, 'Materialkostnader', class: 'label' %>
      <%= form.text_field :material_amount, class: 'input' %>
    </div>

    <div class="my-2">
      <%= form.label :misc_amount, 'Övriga kostnader', class: 'label' %>
      <%= form.text_field :misc_amount, class: 'input' %>
    </div>
  </div>

  <% if policy(project).administer? %>
    <div class="grid grid-cols-2 gap-2">
      <div class="my-2">
        <%= form.label :hourly_rate, 'Timarvode', class: 'label' %>
        <%= form.number_field :hourly_rate, class: 'input' %>
      </div>

      <div class="my-2">
        <%= form.label :fixed_fee, 'Projektarvode', class: 'label' %>
        <%= form.text_field :fixed_fee, class: 'input' %>
      </div>
    </div>
  <% end %>

  <%= form.submit class: "btn-primary" %>
<% end %>

<% if !project.new_record? and policy(project).destroy? %>
  <%= button_to project_path([project]), method: :delete, class: "btn-red mt-4" do %>
    <%= heroicon('trash', options: { class: '-ml-1 mr-1 h-5 w-5'}) %> Ta bort
  <% end %>
<% end %>