<%= form_with(model: project, class: "contents") do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <label class="text-base font-medium text-gray-900">Bonusmetod</label>
    <fieldset class="mt-4">
      <legend class="sr-only">Bonusmetod</legend>
      <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
        <div class="flex items-center">
        <% Project.bonus.keys.each do |bonus| %>
          <%= form.radio_button :bonus, bonus, class: 'ml-2 focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300' %>
          <%= form.label t(bonus.to_sym), for: "project_bonus_#{bonus}", class: 'ml-2 block text-sm font-medium text-gray-700' %>
        <% end %>
        </div>
      </div>
    </fieldset>
  </div> 

  <div class="my-5">
    <%= form.label :title, 'Projektnamn' %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :adress %>
    <%= form.text_field :adress, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description, 'Information' %>
    <%= form.rich_text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :hourly_rate, 'Timarvode' %>
    <%= form.number_field :hourly_rate, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :material_amount, 'Materialkostnader' %>
    <%= form.text_field :material_amount, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :misc_amount, 'Övriga kostnader' %>
    <%= form.text_field :misc_amount, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :is_rot, 'ROT?' %>
    <%= form.check_box :is_rot, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>