<div id="<%= dom_id project %>" class="flex-1">
  <div class="
    max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 
    xl:max-w-5xl xl:grid xl:grid-cols-2">
    <div class="xl:col-span-2 xl:pr-8">

      <div class="md:flex md:items-center md:justify-between md:space-x-4 xl:border-b xl:pb-6">
        <div>
          <h1 class="text-2xl font-bold text-gray-900"><%= project.title %></h1>
          <p class="mt-2 text-sm">
            <%= heroicon('map') %> <%= link_to project.adress, "https://www.google.com/maps?saddr=My+Location&daddr=#{project.adress}", target: :new %>
          </p>
        </div>

        <div>
        <% if policy(project).update? %>
          <div class="mt-4 flex space-x-3 md:mt-0">
            <%= link_to edit_project_path(project), class: "inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" do %>
              <%= heroicon("pencil", options: { class: "-ml-1 mr-2 text-gray-400" }) %>
              <span>Ändra</span>
            <% end %>
          </div>
        <% end %>

          <div class="mt-4 flex space-x-3 md:mt-0">
            <%= link_to "https://www.google.com/maps?saddr=My+Location&daddr=#{project.adress}", class: "inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900", target: :new do %>
              <%= heroicon("map", options: { class: "-ml-1 mr-2 text-gray-400" }) %>
              <span>Vägbeskrivning</span>
            <% end %>
          </div>
        </div>
      </div>

      <div class="text-gray-700 my-5 py-3 xl:pt-2 xl:pb-5">
        <h2 class="sr-only">Description</h2>
        <%= project.description %>
      </div>
    

    <% project.checklists.each do |list| %>
      <turbo-frame id="<%= dom_id list %>">
        <fieldset class="my-8">
          <legend class="text-lg"><%= list.title %></legend>

          <%= list.todos.present? \
            ? render(list.todos.order(:id)) \
            : content_tag(:div, 'Inget här just nu …', class: 'my-3 text-sm italic text-gray-400') %>

          <%= turbo_frame_tag "new_todo" do %>
            <%= link_to "Ny #{list.title}", new_project_checklist_todo_path(project, list), class: "mt-4 inline-flex items-center px-2 py-1 border border-transparent shadow-sm text-xs leading-4 font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          <% end %>
        </fieldset>
      </turbo-frame>
    <% end %>


    
    <% if false %>
    
      <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-4">
        <div class="px-4 py-5 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">Belopp</h3>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
          <dl class="text-sm sm:divide-y sm:divide-gray-200">
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class=" font-medium text-gray-500">Arbetskostnader</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= number_to_currency project.work_amount %></dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class=" font-medium text-gray-500">Materialkostnader</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= number_to_currency project.material_amount %></dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class=" font-medium text-gray-500">Övriga kostnader</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= number_to_currency project.misc_amount %></dd>
            </div>
            <div class="text-gray-800 font-bold py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="">Summa</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= number_to_currency project.total %></dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-4">
        <div class="px-4 py-5 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">Kostnader</h3>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
          <dl class="text-sm sm:divide-y sm:divide-gray-200">
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class=" font-medium text-gray-500">Löner (cirka)</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">-<%= number_to_currency project.salaries %></dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class=" font-medium text-gray-500">Materialkostnader (cirka)</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">-<%= number_to_currency project.expenses %></dd>
            </div>
          </dl>
        </div>
      </div>

      <% if project.is_rot? %>
      <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">ROT</h3>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
          <dl class="text-sm sm:divide-y sm:divide-gray-200">
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class=" font-medium text-gray-500">Timmar</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">

                <div data-controller="clipboard">
                  <span data-clipboard-target="source" data-value="<%= project.hours %>">
                    ca <%= project.hours %> timmar
                  </span>
                  <button data-action="clipboard#copy">
                    <%= heroicon('duplicate', variant: :outline, options: {class: 'text-gray-400 hover:text-gray-600 h-4 w-4'}) %>
                  </button>
                </div>

              </dd>
            </div>

            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class=" font-medium text-gray-500">Material inkl. moms</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <%= render partial: 'shared/clipboard_value', locals: { amount: project.inc_vat(project.material_amount) } %>
              </dd>
            </div>

            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class=" font-medium text-gray-500">Övrigt inkl. moms</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <%= render partial: 'shared/clipboard_value', locals: { amount: project.inc_vat(project.misc_amount) } %>
              </dd>
            </div>

            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class=" font-medium text-gray-500">Arbetskostnad Kund</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <%= render partial: 'shared/clipboard_value', locals: { amount: project.client_costs } %>
              </dd>
            </div>

            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class=" font-medium text-gray-500">Inbetalt Kund</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <%= render partial: 'shared/clipboard_value', locals: { amount: project.client_payed } %>
              </dd>
            </div>

            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class=" font-medium text-gray-500">ROT</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <%= render partial: 'shared/clipboard_value', locals: { amount: project.rot } %>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <% end %>

    <% end %>

  </div>
</div>