<div class="px-4">
  <div class="flex justify-between pb-1 pt-3 text-gray-500 text-sm">
    <div>
      <%= t("project.status." + project.status) %> <%= l(project.completed_on) if project.status_completed? %>
      <% if project.payed_on and policy(project).administer? %>
        > <%= heroicon('banknotes', variant: :outline, options: { class: 'h-4 -mt-1 -mr-0.5' }) %> 
        <%= project.payed_on %>
      <% end %>

    </div>

    <div class="capitalize">
      <% if project.starts_on %>
        <%= heroicon('calendar', variant: :outline, options: { class: 'h-4 -mt-1 -mr-0.5' }) %> 
        <%= l project.starts_on %> 
        <%= " — " + l(project.due_on) if project.due_on %>
      <% end %>
    </div>
  </div>

    <h2 class="text-2xl font-medium text-gray-900">
      <%= project.title %>

      <% if project.client %>
        <span class="text-sm font-normal text-gray-700"> <%= project.client.display_name %> </span>
      <% end %>

      <%= link_to icon_text('Redigera', 'pencil'), edit_project_path(project), class: "btn btn-silver btn-sm" if policy(project).update? and current_page?(project_path(project)) %>
    </h2>

  <div class="mt-2">
    <%= link_to_if current_page?(project_path(project)), icon_badge(project.adress, 'map', class: 'badge gray'), "https://www.google.com/maps?saddr=My+Location&daddr=#{project.adress}", target: '_blank' if project.adress.present? %>
  </div>

  <div class="h-1.5 my-3 relative rounded-full overflow-hidden">
      <div class="h-full w-full bg-gray-200 absolute"></div>
      <div class="h-full bg-green-500 absolute" style="width:<%= project.progress*100 %>%"></div>
  </div>
</div>