<div class="mb-4">
  <%= turbo_frame_tag "new_report" do %>
    <%= link_to icon_text('Ny rapport', 'plus-circle'), new_report_path(project_id: @project.id), class: "btn btn-green btn-sm" %>
  <% end if policy(@project).report? %>
</div>

<div class="overflow-x-auto shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
  <table class="table-auto min-w-full divide-y divide-gray-300 text-sm">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="whitespace-nowrap px-4 py-3.5 text-left font-semibold text-gray-900">Datum</th>
        <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Person</th>
        <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Tid</th>
        <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Moment</th>
        <th scope="col" class="relative whitespace-nowrap py-3.5 pl-3 pr-4 sm:pr-6"> <span class="sr-only">Edit</span> </th>
      </tr>
    </thead>
    <tbody class=" align-top">
        <% @reports.each do |report| %>
        <tr class="border-t border-gray-100 <%= 'text-muted' if !report.payable?%>"> 
          <td class="whitespace-nowrap px-4 py-2 text-gray-600">
            <%= l report.date  %>
          </td>
          <td class="whitespace-nowrap px-2 py-2 text-gray-600">
            <%= link_to report.reportee.user.display_name, project_path(tab: 'time', by: report.reportee.user.id)  %>
          </td>
          <td class="whitespace-nowrap px-2 py-2 text-gray-600">
            <p> <%= format_hours(report.time_in_hours) %> </p>
          </td>
          <td class="whitespace-nowrap text-sm px-2 py-2 text-gray-600">
            <%= link_to report.reportable.title, project_path(tab: 'time', on: report.reportable.id)  %>
          </td>
          <td class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right font-medium sm:pr-6">
            <%= link_to 'Ändra', edit_project_report_path(@project, report), class: "btn btn-silver btn-sm" if policy(report).edit? %>
          </td>
        </tr>
          <% if report.note.present? %>
            <tr>
              <td colspan="5" class="px-4 pb-3 text-sm">
                <span class="text-gray-500"><%= report.note %></span>
              </td>
            </tr>
          <% end %>
        <% end %>
    </tbody>
    <tfoot class="bg-gray-50">
      <tr class="font-medium text-md text-gray-900"> 
          <td class="whitespace-nowrap px-4 py-3.5">Summa</td>
          <td class="whitespace-nowrap px-2 py-3.5"></td>
          <td class="whitespace-nowrap px-2 py-3.5"> <%= format_hours(project.hours_reported) %> tim </td>
          <td class="whitespace-nowrap px-2 py-3.5"></td>
          <td class="whitespace-nowrap px-2 py-3.5"></td>
        </tr>
    </tfoot>
  </table>
 </div>