<div class="mt-2 text-sm text-indigo-800 sm:mt-4 bg-indigo-100 py-1 px-2 rounded-md">
  <%= heroicon('document-report') %>
  <b class="pr-4">Kundestimat</b> 
  <%= project.estimated_hours %> timmar
</div>

<div class="mt-2 text-sm text-green-800 sm:mt-4 bg-green-100 py-1 px-2 rounded-md">
  <%= heroicon('clock') %>
  <b class="pr-4">Rapport</b> 
  <%= project.hours_reported %> timmar
</div>

<div class="mt-2 text-sm text-gray-900 sm:mt-4 bg-gray-100 p-2 rounded-md">
  <p class="my-1">
    <b class="px-1">Bonus %</b> 
    <%= number_to_percentage project.bonus_percent(project.hours_reported) * 100 %><br/>
  </p>

  <p class="my-1">
    <b class="px-1">Din bonus/timma</b> 
    <%= number_to_currency project.bonus_salary_hourly(worker.salary, project.hours_reported) %><br/>
  </p>

  <p>
    <b class="px-1">Din bonus/totalt</b> 
    <%= number_to_currency project.bonus_salary_total(worker.salary, project.hours_reported) %><br/>
  </p>
</div>
