<div class="p-4 bg-white rounded-md mb-3">

  <div class="sm:hidden">
    <select data-controller="switcher" data-action="change->switcher#switch" id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500">
      <option value="<%= projects_path %>" <%= class_names(selected: params[:status].blank?) %>>P책g책ende</option>
      <option value="<%= projects_path(status: 'upcoming') %>" <%= class_names(selected: params[:status] == 'upcoming') %>>Kommande</option>
      <% if policy(:project).create? %>
        <option value="<%= projects_path(status: 'draft') %>" <%= class_names(selected: params[:status] == 'draft') %>>Utkast</option>
      <% end %>
      <option value="<%= projects_path(status: 'completed') %>" <%= class_names(selected: params[:status] == 'completed') %>>Avslutade</option>
    </select>
  </div>

  <div class="hidden sm:block">
    <nav id="project-nav" class="flex space-x-4" aria-label="Tabs">
      <%= active_link_to icon_text('P책g책ende', 'bolt', icon_options: { variant: :outline }), projects_path, class: 'text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md', active: :exact %>
      <%= active_link_to icon_text('Kommande', 'arrow-uturn-right', icon_options: { variant: :outline }), projects_path(status: 'upcoming'), class: 'text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md', active: { status: 'upcoming' } %>
      <%= active_link_to icon_text('Utkast', 'pencil', icon_options: { variant: :outline }), projects_path(status: 'draft'), class: 'text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md', active: { status: 'draft' } if policy(:project).create? %>
      <%= active_link_to icon_text('Avslutade', 'check', icon_options: { variant: :outline }), projects_path(status: 'completed'), class: 'text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md', active: { status: 'completed' } %>
    </nav>
  </div>
</div>

<div class="bg-white shadow overflow-hidden rounded-md">
  <ul role="list" class="divide-y divide-gray-200">
    <%= render partial: "projects/project_preview", collection: @projects, as: :project %>
  </ul>
</div>

<% if Current.user.is_admin? %>
<div class="bg-white shadow overflow-hidden rounded-md mt-4 py-2 px-4 text-sm text-gray-700 text-right">
  Total <%= number_to_currency @projects.sum(&:amount) %>
</div>
<% end %>