<div id="<%= dom_id @project %>">
  <div class="bg-white overflow-hidden shadow rounded-md divide-y divide-gray-200">

    <div class="grid grid-cols-2">
      <%= render 'projects/project_header', project: @project %>

      <div class="text-right my-2 mx-4 gap-2">
        <%= link_to edit_project_path(@project), class: 'btn-admin' do %>
          <%= icon_text('Redigera', 'pencil') %>
        <% end if policy(@project).update? %>
      </div>
    </div>

    <div id="project-sections" class="px-4">
      <nav class="-mb-px flex space-x-6 overflow-y-auto" aria-label="Tabs">
        <%= link_to 'Uppdrag', project_path(@project), class: tab_classes(params[:tab].blank?) %>
        <%= link_to 'Tidrapport', project_path(@project, tab: 'time'), class: tab_classes(params[:tab] == 'time') %>
        <%= link_to 'Utgifter', project_path(@project, tab: 'expenses'), class: tab_classes(params[:tab] == 'expenses') %>
        <%= link_to 'Lönerapport', project_path(@project, tab: 'employee'), class: tab_classes(params[:tab] == 'employee') if policy(@project).salary? %>

        <!-- Admin Section -->
        <%= link_to icon_text('Admin', 'shield-check'), project_path(@project, tab: 'internal'), class: tab_classes(params[:tab] == 'internal') if Current.user.is_manager? %>
        <%= link_to icon_text('Lönerapport', 'shield-check'), project_path(@project, tab: 'bonus'), class: tab_classes(params[:tab] == 'bonus') if Current.user.is_manager? %>
      </nav>
    </div>
    <div class="p-4">
      <%= render 'description', project: @project if params[:tab].blank? %>
      <%= render 'employee', project: @project, employee: Current.user.employee if params[:tab] == 'employee' && policy(:report).show? && @project.status_completed? %>
      <%= render 'expenses', project: @project if params[:tab] == 'expenses' %>
      <%= render 'time', project: @project if params[:tab] == 'time' %>

      <!-- Admin Section -->
      <%= render 'internal', project: @project if params[:tab] == 'internal' && policy(:project).edit? %>
      <%= render 'admin', project: @project if params[:tab] == 'bonus' && policy(:project).edit? %>
    </div>
  </div>
