<div class="bg-white shadow overflow-hidden rounded-md">
  <div class="overflow-x-auto shadow ring-1 ring-black ring-opacity-5 md:rounded-lg p-5">

    <h1 class="text-2xl font-bold mb-4"> 
      Arvode/Lön
      <small class="text-sm"> <%= l @from.to_date %> — <%= l @to.to_date %> </small>
    </h1>

    <h2 class="text-1xl font-bold mb-4"> Tidrapporter </h2>

    <table class="table-auto min-w-full divide-y divide-gray-300 text-sm border-2 border-slate-100 ring-offset-slate-100 ">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="whitespace-nowrap px-4 py-3.5 text-left font-semibold text-gray-900">Datum</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Person</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Timmar</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Projekt</th>
          <th scope="col" class="relative whitespace-nowrap py-3.5 pl-3 pr-4 sm:pr-6"> <span class="sr-only">Edit</span> </th>
        </tr>
      </thead>
      <tbody class=" align-top">
        <% policy_scope(@payment.payable_hourly_reports).group_by(&:reportee).each do |reportee, reports| %>
          <tr class="border-t-2 border-gray-400 text-md text-gray-900"> 
            <td class="whitespace-nowrap px-4 py-2 text-gray-600 bg-slate-50">
              <%= reportee.display_name %>
              <small><%= reportee.primary_role %></small> <br/>
              <span class="font-medium">
                <%= t("salary.#{reportee.class.name.downcase}") %>: <%= number_to_currency reports.sum(&:total) %>
              </span>
            </td>
            <td class="whitespace-nowrap px-2 py-2 text-gray-600 bg-slate-50">
            </td>
            <td class="whitespace-nowrap px-2 py-2 text-gray-600 bg-slate-50">
              <%= format_hours reports.sum(&:time_in_hours) %>
            </td>
            <td colspan="2" class="whitespace-nowrap px-2 py-2 text-gray-600 bg-slate-50">
            </td>
          <tr>
        <% end %>
      </tbody>
      <tfoot class="bg-gray-50">
        <tr class="font-medium text-md text-gray-900"> 
            <td class="whitespace-nowrap px-4 py-3.5">Summa</td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
          </tr>
      </tfoot>
    </table>

    <h2 class="text-1xl font-bold my-4"> Bonusrapporter </h2>

    <table class="table-auto min-w-full divide-y divide-gray-300 text-sm border-2 border-slate-100 ring-offset-slate-100 ">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="whitespace-nowrap px-4 py-3.5 text-left font-semibold text-gray-900">Bonus</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Projekt</th>
        </tr>
      </thead>
      <tbody class=" align-top">
        <% @payment.payable_bonus_projects.each do |project| %>
          <% project.reportees.each do |reportee| %>
            <% if (Current.user.is_admin? or Current.user.profile == reportee) %>
            <% @bonus = Bonus::Calculator.new(project).bonus_for(reportee) %>
            <% unless @bonus.zero? %>

            <tr class="border-t-2 border-gray-400 text-md text-gray-900"> 
              <td class="whitespace-nowrap px-4 py-2 text-gray-600 bg-slate-50">
                <%= reportee.display_name %> <small><%= reportee.primary_role %></small> <br/>
                <span class="font-medium text-md">
                  Bonus <%= number_to_currency @bonus %><br/>
                </span>
              </td>
              <td class="whitespace-nowrap px-2 py-2 text-gray-600 bg-slate-50">
                <%= link_to project.title, project %>
                <small class="capitalize"><%= project.bonus %></small>
              </td>
            <tr>
            <% end %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>




    <% if false %>
    <table class="table-auto min-w-full divide-y divide-gray-300 text-sm border-2 border-slate-100 ring-offset-slate-100 ">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="whitespace-nowrap px-4 py-3.5 text-left font-semibold text-gray-900">Datum</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Person</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Tid</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Projekt</th>
          <th scope="col" class="relative whitespace-nowrap py-3.5 pl-3 pr-4 sm:pr-6"> <span class="sr-only">Edit</span> </th>
        </tr>
      </thead>
      <tbody class=" align-top">
        <% policy_scope(@payment.payable_hourly_reports).group_by(&:reportee).each do |reportee, reports| %>
          <tr class="font-medium border-t-2 border-gray-400 text-md text-gray-900"> 
            <td class="whitespace-nowrap px-4 py-2 text-gray-600 bg-slate-50">
              <%= reportee.display_name %>
              <small><%= reportee.primary_role %></small> <br/>
              <%= t("salary.#{reportee.class.name.downcase}") %>: <%= number_to_currency reports.sum(&:total) %>
            </td>
            <td class="whitespace-nowrap px-2 py-2 text-gray-600 bg-slate-50">
            </td>
            <td class="whitespace-nowrap px-2 py-2 text-gray-600 bg-slate-50">
              <%= format_hours reports.sum(&:time_in_hours) %>
            </td>
            <td colspan="2" class="whitespace-nowrap px-2 py-2 text-gray-600 bg-slate-50">
            </td>
          <tr>
          <% reports.each do |report| %>
            <tr class="border-t border-gray-100"> 
              <td class="whitespace-nowrap px-4 py-2 text-gray-600">
                <%= l report.date  %>
              </td>
              <td class="whitespace-nowrap px-2 py-2 text-gray-600">
                <%= report.reportee.user.display_name  %>
              </td>
              <td class="whitespace-nowrap px-2 py-2 text-gray-600">
                <p> 
                <%= format_hours(report.time_in_hours) %> <span class="text-xs text-gray-400">
                á <%= number_to_currency(report.fee) %></span>
                </p>
              </td>
              <td class="whitespace-nowrap text-sm px-2 py-2 text-gray-600">
                <%= link_to report.project.title, report.project %>
                <small class="capitalize"><%= report.project.bonus %></small>
              </td>
              <td class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right font-medium sm:pr-6">
                <%= link_to 'Ändra', edit_report_path(report), class: "text-sm inline-flex items-center px-2 py-1 border border-transparent shadow-sm text-xs leading-4 font-medium rounded-md text-gray-500 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-100" if policy(report).edit? %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <tfoot class="bg-gray-50">
        <tr class="font-medium text-md text-gray-900"> 
            <td class="whitespace-nowrap px-4 py-3.5">Summa</td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
          </tr>
      </tfoot>
    </table>
    <% end %>
  </div>
</div>