<div class="bg-gray-200 rounded-md p-3 mb-5">
  <turbo-frame id="<%= dom_id checklist %>">
    
    <%= turbo_frame_tag dom_id(checklist, :title) do %>

      <% if policy(:checklist).create? %>
        <%= link_to edit_project_checklist_path(checklist.project, checklist) do %>
          <div class="flex justify-between">
            <h6 class="font-bold"> <%= checklist.title %> </h6>
            <%= icon_badge("#{number_to_currency(checklist.amount)}", 'gray', 'shield-check') %>
          </div>
        <% end %>
      <% else %>
          <h6 class="block font-bold"> <%= checklist.title %> </h6>
      <% end  %>

      <p class="py-1 text-xs">
        <%= icon_badge("~ #{checklist.reports.sum(&:time_in_hours).round(1)} tim", 'green', 'clock') %>
        <%= icon_badge("#{checklist.hours_target} tim", 'indigo', 'flag') unless checklist.hours_target.zero? %>
      </p>
    <% end %>

    <div class="my-2">
      <ul
        data-controller="sortable"
        data-sortable-animation-value="250"
        data-sortable-param-name-value="todo[position]"
        data-sortable-handle-value=".handle"
        >
        <%= render(checklist.todos) %>
      </ul>
    </div>

    <div class="p-2 bg-gray-100 rounded-md">
      <%= turbo_frame_tag "new_report" do %>
        <%= link_to heroicon('plus-circle', options: { class: 'h-4 w-4 mr-1'}) + "Tidrapport", new_report_path(reportable_type: 'Checklist', reportable_id: checklist.id), class: "inline-flex items-center px-2 py-1 border border-transparent shadow-sm text-xs leading-4 font-medium rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" if policy(:report).create? %>
      <% end %>
      <%= turbo_frame_tag "new_todo" do %>
        <%= link_to "Ny uppgift", new_project_checklist_todo_path(checklist.project, checklist), class: "inline-flex items-center px-2 py-1 border border-transparent shadow-sm text-xs leading-4 font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" if policy(:todo).create? %>
      <% end %>
    </div>

  </turbo-frame>
</div>