<div class="bg-gray-200 ring-2 ring-gray-100 rounded-md p-3 mb-5">
  <turbo-frame id="<%= dom_id checklist %>">
    
    <%= turbo_frame_tag dom_id(checklist, :title) do %>

      <% if policy(:checklist).create? %>
        <%= link_to edit_project_checklist_path(checklist.project, checklist) do %>
          <h6 class="font-bold mb-1"> <%= checklist.title %> </h6>
          <div>
            <%= render "projects/meta/#{@project.bonus}", reportable: checklist if policy(checklist).meta? %>
            <%= icon_badge("#{number_to_currency(checklist.amount)}", 'eye-off', class: 'silver') %>
            <%= icon_badge "ROT", 'check', class: 'gray' if checklist.is_rot? %>
          </div>
        <% end %>
      <% else %>
        <div class="flex justify-between">
          <h6 class="block font-bold"> <%= checklist.title %> </h6>
          <div>
            <%= render "projects/meta/#{@project.bonus}", reportable: checklist if policy(checklist).meta? %>
              <%= icon_badge "ROT", 'check', class: 'gray' if checklist.is_rot? %>
          </div>
        </div>
      <% end  %>

    <% end %>

    <div class="my-2">
      <ul
        class="list-none"
        data-controller="sortable"
        data-sortable-animation-value="250"
        data-sortable-param-name-value="todo[position]"
        data-sortable-handle-value=".handle"
        >
        <%= render(checklist.todos) %>
      </ul>
    </div>

    <div class="p-2 bg-gray-100 rounded-md">
      <%= turbo_frame_tag "new_todo" do %>
        <%= link_to icon_text('Nytt delmoment', 'plus-circle'), new_project_checklist_todo_path(checklist.project, checklist), class: "btn btn-admin btn-sm" %>
      <% end if policy(checklist.project).todo? %>
    </div>
  </turbo-frame>
</div>