<div class="bg-white shadow overflow-hidden rounded-md p-5">
    <h1 class="text-2xl font-bold mb-2"> 
      Utgifter
      <small class="text-sm"> <%= l @from.to_date %> — <%= l @to.to_date %> </small>
    </h1>

    <div class="mb-4 text-sm">
      <%= link_to 'Förra månaden', url_for(last_month), class: 'mr-4' %>
      <%= link_to 'Nästa månad', url_for(next_month) %>
    </div>
  <div class="mb-4 overflow-x-auto shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
    <table class="table-auto min-w-full divide-y divide-gray-300 text-sm">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="whitespace-nowrap px-4 py-3.5 text-left font-semibold text-gray-900">Datum</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Person</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Typ</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Projekt</th>
          <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">Belopp</th>
          <th scope="col" class="relative whitespace-nowrap py-3.5 pl-3 pr-4 sm:pr-6"> <span class="sr-only">Edit</span> </th>
        </tr>
      </thead>
      <tbody class=" align-top">
        <% @expenses.each do |expense| %>
          <tr class="border-t border-gray-100"> 
            <td class="whitespace-nowrap px-4 py-2 text-gray-600">
              <%= l expense.spent_on  %>
            </td>
            <td class="whitespace-nowrap px-2 py-2 text-gray-600">
              <%= expense.user.display_name  %>
            </td>
            <td class="whitespace-nowrap px-2 py-2 text-gray-600">
              <%= t 'project.expenses.' + expense.category %>
            </td>
            <td class="whitespace-nowrap px-2 py-2 text-gray-600">
              <turbo-frame target="_top">
                <%= link_to expense.project.title, project_path(expense.project) %>
              </turbo-frame>
            </td>
            <td class="whitespace-nowrap text-sm px-2 py-2 text-gray-600">
              <%= number_to_currency expense.amount %>
            </td>
            <td class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right font-medium sm:pr-6">
              <turbo-frame target="_top">
                <%= link_to 'Ändra', edit_project_expense_path(expense.project, expense), class: "text-xs text-indigo-700 hover:underline hover:text-indigo-900" if policy(expense).edit? %>
              </turbo-frame>
            </td>
          </tr>
          <% if expense.description.present? %>
            <tr>
              <td colspan="5" class="px-4 pb-3 text-sm">
                <span class="text-gray-500"><%= expense.description %></span>
              </td>
            </tr>
          <% end %>
          <% end %>
      </tbody>
      <tfoot class="bg-gray-50">
        <tr class="font-medium text-md text-gray-900"> 
            <td class="whitespace-nowrap px-4 py-3.5">Summa</td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
            <td class="whitespace-nowrap px-2 py-3.5"> <%= number_to_currency(@expenses.sum(&:amount)) %> </td>
            <td class="whitespace-nowrap px-2 py-3.5"></td>
          </tr>
      </tfoot>
    </table>
  </div>
</div>