<table class="table-auto min-w-full divide-y divide-gray-300 text-sm bg-white">

  <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="whitespace-nowrap px-4 p-2 text-left font-semibold text-gray-900">Person</th>
      <th scope="col" class="whitespace-nowrap p-2 text-left font-semibold text-gray-900">Tid</th>
      <th scope="col" class="whitespace-nowrap p-2 text-left font-semibold text-gray-900">Totalt (ex Skatter)</th>
    </tr>
  </thead>

  <tbody class=" align-top">

      <% reportable.contractors.each do |reportee| %>
      <tr class="border-t border-gray-100"> 
        <td class="whitespace-nowrap px-4 py-2 text-gray-600">
          <%= reportee.user.display_name  %>
          <span class="text-xs text-gray-400"><%= reportee.title %></span>
        </td>
        <td class="whitespace-nowrap p-2 text-gray-600">
          <p><%= format_hours reportable.hours_for(reportee) %> tim</p>
        </td>
        <td class="whitespace-nowrap text-sm p-2 text-gray-600">
          <%= number_to_currency reportable.salary_for(reportee) %>
        </td>
      </tr>
      <% end %>

  </tbody>

  <tfoot class="bg-gray-50">
    <tr class="font-medium text-md text-gray-900"> 
        <td class="whitespace-nowrap px-4 p-2">
          Summa
        </td>

        <td class="whitespace-nowrap p-2"> 
          <%= format_hours(reportable.hours_by_contractors) %> tim 
        </td>

        <td class="whitespace-nowrap p-2"> 
          <%= number_to_currency(reportable.costs_by_contractors) %> 
        </td>
      </tr>
  </tfoot>
</table>