<%= form_with(model: [report], class: "contents", data: { 'turbo-frame': '_top' }) do |f| %>
  <%= f.hidden_field :reportable_type %>
  <%= f.hidden_field :reportable_id %>
  <%= f.date_field :date, required: true, class: 'text-sm mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md' %>

  <div data-controller="time">
    <%= f.text_field :time_formated, placeholder: '0:00', required: true, data: { action: 'blur->time#format keyup->time#update', 'time-target': 'source' }, class: 'text-sm mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md' %>
    <%= f.hidden_field :time_in_hours, required: true, data: { 'time-target': 'holder' } %>
  </div>

  <%= f.text_field :note, placeholder: 'Notering', class: 'text-sm mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md' %>
  <%= f.submit 'Spara', class: "text-sm mt-2 inline-flex items-center px-2 py-1 border border-transparent shadow-sm text-xs leading-4 font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  <%= link_to 'Avbryt', project_path(report.project, tab: 'checklist'), target: '_top', class: "text-sm mt-2 inline-flex items-center px-2 py-1 border border-transparent shadow-sm text-xs leading-4 font-medium rounded-md text-gray-500 bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-200" if report.project %>
<% end %>

<%= button_to icon_text('Ta bort', 'trash'), [report], method: :delete, class: "my-3 text-xs text-gray-400 hover:text-gray-500" if policy(report).destroy? %>